#mobileInteractionToggle {
  display: none;
}
.tile-area.tile-area-mobile {
  display: none;
}
/* mobile menu updates */
button.overlay-menu {
  position: fixed;
  z-index: 7;
  width: 100vw;
  height: 100vh;

  display: none;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.23);
  backdrop-filter: blur(5px);

  /* border: 2px solid #b1b1b1; */
  border: none;

  font-size: 1rem;
  color: #000000;
}
/* here styling header area */

.game-header .logo-score-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%;
}

.game-header button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.game-header button span {
  color: #848484;
}

.header-btn-group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.game-header .score-display {
  background-color: #6db13d;
  color: #fff;
  min-width: 92px;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  margin-left: 1.55rem;
}

.game-header .score-display .score-text {
  color: #fff;
  font-size: 0.65rem;
  font-weight: 400;
  line-height: 16px;
}
.game-header .score-display .score-value {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 24px;
}
.header-button-group {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: end;
  margin-left: 1rem;
  flex-basis: 57%;
}
.header-button-group .btn-maximize-display span {
  font-size: 2rem;
}
.header-button-group .btn-menu {
  margin-left: 0.75rem;
  display: none;
}
.header-button-group .btn-menu span {
  font-size: 2rem;
}
.mobile-interaction-toggle {
  box-shadow: none;
  margin-bottom: 0;
  width: 304px;
  align-items: center;
  background: none;
}
.mobile-interaction-toggle .interaction-btn-wrap {
  background-color: var(--secondary-header-color);
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 221px;
}
.mobile-interaction-toggle .interaction-btn {
  color: #8e8e8e;
  align-items: center;
  justify-content: center;
}
.mobile-interaction-toggle .interaction-btn.active {
  color: #fff;
}
.input-mode-label {
  font-size: 0.75em;
  line-height: 18px;
  font-weight: 600;
  margin-right: 0.75rem;
}
.mobile-interaction-toggle .interaction-btn {
  font-size: 0.75rem;
  line-height: 18px;
  font-weight: 700;
  padding: 7px 12px;
  background-color: var(--secondary-header-color);
}

.mobile-interaction-toggle .interaction-btn.active {
  background-color: var(--primary-header-color);
}

.game-header #rulesBtn.btn {
  background-color: var(--attention-header-color);
  color: #fff;
  padding: 0.445rem 1rem;
  font-size: 0.75em;
  line-height: 18px;
  font-weight: 700;
  box-shadow: none;
}
/* letter rack */
.page-letter-wrap {
  order: 1;
}
.tile {
  transform: scale(1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.tile.selected {
  border: none;
  box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
  transform: scale(1.2);
  animation: shakyRotate 3s ease-in infinite;
}
.tile-area .letter-rack {
  background: var(--background-tile-area-moz);
  background: var(--background-tile-area-webkit);
  background: var(--background-tile-area);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf6fc",endColorstr="#bddbe0",GradientType=1);
}
/* validation error styles */
.validation-errors {
  order: 2;
  position: relative;
}
.validation-errors > div {
  min-width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: 16px;
  left: -18%;
  background-color: #fff6e1;
  padding: 0.45rem 1rem;
  border: 1px solid #ffc641;
  border-radius: 3rem;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
}
.validation-error-text {
  color: var(--tile-text);
  margin-left: 0.5rem;
  font-size: 0.75rem;
  line-height: 18px;
  font-weight: 400;
}
/* game controll*/
.control-text-mobile {
  display: none;
}
.game-controls-mobile {
  width: 100%;

  order: 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 4.95rem;
}
.game-controls {
  display: none;
}
.game-controls-mobile button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 14px;
  display: flex;
  justify-content: center;
}

/* controll mobile */
#submitBtn {
  width: auto;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3.75rem;
  order: 3;
  gap: 0.5rem;
  background: var(--gradient-primary);
  background: var(--gradient-primary-moz);
  background: var(--gradient-primary-webkit);
}
#clearBtn {
  border: 1px solid #e89726;
  order: 1;
}
#shuffleBtn {
  border: 1px solid #e89726;
  order: 2;
}
.game-controls-mobile button svg {
  scale: 1.18;
}
.game-controls-mobile button:first-child svg {
  scale: 1;
}
/* advertise style here */
.ads-wrap {
  display: none;
}
/* game modal finished game */
.finish-game-container {
  gap: 1rem;
}
/* welcome modal */
#welcomeModal #startGameBtn.btn-primary {
  background: var(--gradient-primary);
  background: var(--gradient-primary-moz);
  background: var(--gradient-primary-webkit);
  font-size: 1rem;
  line-height: 24px;
  padding: 0.5rem 0;
}

/* submit modals */
#confirmSubmitModal .modal-content button {
  padding: 0.5rem 0;
  font-size: 1rem;
  line-height: 24px;
}
#confirmSubmitModal #confirmSubmitBtn {
  background: var(--gradient-primary);
  background: var(--gradient-primary-moz);
  background: var(--gradient-primary-webkit);
}
#confirmSubmitModal button#cancelSubmitBtn {
  color: #8e8e8e;
}
#finishGameModal .modal-content {
  width: 100%;
  padding: 2.75rem 3.5rem;
  max-height: 80vh;

  bottom: -700px;
  background-image: url("src/leaderboardBackground.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100.75%;
  background-attachment: local;
  border-radius: 24px;
  transition: bottom 0.35s ease;
}

#finishGameModal.modal.active .modal-content {
  bottom: 0;
}
#finishGameModal .final-message {
  font-size: 1em;
  margin-bottom: 0;
}
#finishGameModal .final-score {
  font-size: 2.5em;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #ff3434, #f3db23);
  background-clip: text;
  -webkit-background-clip: text; /* Required for WebKit browsers like Chrome, Edge, and Safari */
  color: transparent; /* Makes the gradient visible by hiding the text color */
  text-align: center; /* Optional: Centers the text */
}

#finishGameModal .nickname-form {
  margin: 0;
  background: none;
  padding: 0;
  margin-bottom: 1.25rem;
}
#finishGameModal .nickname-form > p {
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 0.74rem;
  padding: 0;
}
#finishGameModal .nickname-input-container {
  background-color: #d9d9d9;
  border-radius: 56px;
  padding: 0.5rem;
  gap: 0.25rem;
}
#finishGameModal .nickname-input-container > input {
  border-radius: 68px;
  border: none;
  padding: 11px 1rem;
  font-size: 14px;
  line-height: 18px;
  max-width: 200px;
}
#finishGameModal .nickname-input-container > button {
  border-radius: 68px;
  background-color: #6db13d;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 18px;
  padding: 11px 14px;
}

#finishGameModal .leaderboard-tabs {
  padding: 0;
  gap: 0;
  background-color: #ffe7ba;
  border-radius: 32px;
  border: 1px solid #e7cc9c;
  justify-content: space-between;
  max-width: 342px;
  margin-bottom: 0;
}
#finishGameModal button {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  padding: 0 1rem;
  border-radius: 32px;
}

#finishGameModal button.tab-btn {
  background-color: #ffe7ba;
  max-width: 114px;
  color: #353535;
  padding: 0.5rem 1rem;
}
#finishGameModal button.tab-btn.active {
  background-color: var(--primary-color);
  color: white;
  height: 40px;
}

#leaderboardContainer {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
#leaderboardContainer thead tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
#leaderboardContainer thead tr th {
  font-size: 0.74em;
  font-weight: 700;
  line-height: 1em;
}
#leaderboardContainer thead tr th:nth-child(1) {
  grid-column: span 2;
}
#leaderboardContainer thead tr th:nth-child(2) {
  grid-column: span 4;
}
#leaderboardContainer thead tr th:nth-child(3) {
  grid-column: span 2;
}

#leaderboardContainer #leaderboardBody tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);

  width: 100%;
  align-content: space-between;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

#leaderboardContainer th {
  padding: 0;
  padding-bottom: 0.75rem;
}
#leaderboardContainer #leaderboardBody tr td {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
}
#leaderboardContainer #leaderboardBody tr td:nth-child(1) {
  grid-column: span 2;
}
#leaderboardContainer #leaderboardBody tr td:nth-child(2) {
  grid-column: span 4;
  padding-left: 0;
}
#leaderboardContainer #leaderboardBody tr td:nth-child(3) {
  grid-column: span 2;
  padding-left: 0;
  color: var(--secondary-score);
}

.stats-container {
  border-radius: 1rem;
  background-color: #f9f9f9;
}

.stats-container .stats-grid {
  gap: 1rem;
}

.stats-container > h3.stats-title {
  font-size: 1.125em;
  line-height: 26px;
  text-align: left;
  color: var(--modal-tab-text);
}

.stats-container .stat-value {
  font-size: 2.5em;
  line-height: 48px;
  font-weight: 700;
  color: var(--modal-tab-text);
}
.stats-container .stat-label {
  font-size: 1em;
  font-weight: 400;
  line-height: 24px;
  color: var(--modal-tab-text);
}

.achievements-container {
  background-color: #f9f9f9;
  border-radius: 16px;
}
.achievements-container h3.achievements-title {
  font-size: 1.125em;
  line-height: 26px;
  text-align: left;
  color: var(--modal-tab-text);
}
.achievements-container .achievement-item {
  border-radius: 8px;
}

.achievements-container .achievement-desc {
  color: var(--modal-tab-text);
  font-size: 10px;
  line-height: 12px;
}

.achievements-container .achievement-name {
  color: var(--modal-tab-text);
  font-size: 0.9em;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.countdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  padding-right: 0;
  margin-bottom: 1rem;
}

.countdown .countdown-label {
  font-size: 0.9em;
  font-weight: 700;
  color: var(--modal-tab-text);
}
.countdown .countdown-time {
  height: 54px;
  padding: 0 1.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #efefef;
  color: var(--modal-tab-text);
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.countdown .countdown-time > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown .countdown-time > div span {
  font-size: 0.75rem;
  line-height: 18px;
  font-weight: 400;
}
.countdown .countdown-time > div h2 {
  align-items: center;
  font-size: 1.125rem;
  line-height: 26px;
  font-weight: 700;
}
.share-container {
  width: 100%;
  margin: 0;
}
#finishGameModal .share-container button {
  width: 100%;
  background: var(--gradient-primary);
  background: var(--gradient-primary-moz);
  background: var(--gradient-primary-webkit);
  padding: 0.75rem 1.25rem;
}
#finishGameModal .share-container button > span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
}
#finishGameModal button#closeLeaderboardBtn {
  background-color: #eaeaea;
  padding: 0.75rem 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: #5f5f5f;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* rules modal */
#rulesModal .modal-wrapper {
  padding: 1rem 0;
  background-color: white;
  display: flex;
  justify-content: end;
  justify-content: center;
  border-radius: 1.5rem;
}
#rulesModal .modal-content {
  padding: 0;
  padding-right: 1rem;
  box-shadow: none;
  margin-right: -12px;
}

::-webkit-scrollbar {
  width: 4px;
  max-height: 100px;
}
/* Track */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #cbcbcb;

  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
::-webkit-scrollbar-thumb:hover {
  background: #858585;
  /* -webkit-rgb(156, 156, 156)dow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
#rulesModal .modal-title {
  margin-bottom: 0.75rem;
}
#rulesModal .rules-list > li {
  padding: 0.75rem;
  border-radius: 0.5rem;
}
#rulesModal .rules-list > li li {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}
#rulesModal .rules-list li {
  font-size: 0.9rem;
}
#rulesModal .rules-list > li > div > span {
  color: var(--primary-color);
}
#rulesModal .rules-list > li > div:first-child {
  margin-right: 0.25rem;
}
#rulesModal .rules-list > li > div:last-child {
  font-size: 0.9rem;
}
#rulesModal .rules-list > li > div:last-child li {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
#rulesModal .small-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  line-height: 18px;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

#rulesModal .small-tile.small-dw {
  background-color: var(--special-dw);
}
#rulesModal .small-tile.small-tw {
  background-color: var(--special-tw);
}
#rulesModal .small-tile.small-dl {
  background-color: var(--special-dl);
}
#rulesModal .small-tile.small-tl {
  background-color: var(--special-tl);
}

#rulesModal .rules-list > li li span {
  flex: 1;
}

#rulesModal .small-tile.small-wild {
  background: var(--wild-color);
}
#rulesModal .small-tile.small-powerup {
  background: var(--powerup-color);
}
#rulesModal .modal-buttons {
  flex-direction: column;
}
#rulesModal .modal-buttons button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  padding: 0.75rem 1rem;
}
#rulesModal .modal-buttons button.btn-primary {
  background: var(--gradient-primary);
  background: var(--gradient-primary-moz);
  background: var(--gradient-primary-webkit);
}

#rulesModal #showTutorialFromRulesBtn {
  background-color: #484848;
  color: #fff;
}

@media (max-width: 986px) {
  .game-area {
    justify-content: space-around;
  }

  .header-button-group {
    flex-basis: 62%;
    gap: 1rem;
    justify-content: space-around;
  }
  .tile-area {
    flex-basis: 56%;
  }
}

@media (max-width: 768px) {
  body {
    background-color: white;
  }
  .game-container {
    box-shadow: none;
  }
  .game-area {
    height: 75vh;
    box-shadow: none;
    justify-content: flex-start;
  }
  .mobile-nav-menu {
    right: 0;
    top: 42px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
  }
  .nav-menu {
    width: 236px;
    height: 178px;

    background-color: #ffffff;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    box-shadow: 0px 3px 16px 0px #00000059;
    -webkit-box-shadow: 0px 3px 16px 0px #00000059;
    -moz-box-shadow: 0px 3px 16px 0px #00000059;

    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .anchor-arrow {
    position: relative;
    right: -85px;
    bottom: -6px;
  }

  .nav-menu .mobile-interaction-toggle {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-basis: 45%;
  }
  .nav-menu .nav-menu-rules {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-menu .input-mode-label {
    margin: 0;
    margin-bottom: 0.125rem;
  }

  .nav-menu .interaction-btn-wrap {
    background-color: var(--secondary-header-color);
    border-radius: 18px;
  }

  .nav-menu #rulesBtnL.btn {
    background-color: var(--attention-header-color);
    color: #fff;
    padding: 0.445rem 1rem;
    font-size: 0.75em;
    line-height: 18px;
    font-weight: 700;
    box-shadow: none;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mobile-device {
    padding: 0;
  }
  .game-container {
    padding: 0;
    padding-top: 1rem;
    margin-bottom: 0;
    gap: 0;
  }
  .game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1.25rem;
  }
  .game-header .logo-score-group {
    flex-basis: 60%;
  }
  .header-button-group {
    display: inline-flex;
    flex-direction: row;
    margin-left: 1rem;
    flex-basis: 12%;
  }

  .header-button-group .btn-menu {
    display: block;
  }
  /* hide rule explaination button and mobile toggle */
  .game-header #rulesBtn.btn {
    display: none;
  }
  .mobile-interaction-toggle {
    display: none;
  }

  /* Error validation message */
  .validation-errors {
    position: relative;
    order: 1;
  }
  .validation-errors > div {
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: -45px;
    left: 0;
    background-color: #fff6e1;
    padding: 0.45rem 1rem;
    border: 1px solid #ffc641;
    border-radius: 3rem;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
  }
  .validation-error-text {
    color: var(--tile-text);
    margin-left: 0.5rem;
    font-size: 0.75rem;
    line-height: 18px;
    font-weight: 400;
  }

  .tile-area {
    width: 100vw;
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    margin-top: 1.25rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background: rgb(235, 246, 252);
    background: var(--background-tile-area-moz);
    background: var(--background-tile-area-webkit);
    background: var(--background-tile-area);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf6fc",endColorstr="#bddbe0",GradientType=1);
  }
  .tile-area.tile-area-mobile {
    display: flex;
    position: absolute;
    bottom: 0;
  }
  .page-letter-wrap {
    order: 2;
  }
  .letter-rack {
    order: 2;
    background: none;
  }
  .tile-rack-nav {
    order: 1;
    margin-top: 0.75rem;
    background: none;
  }

  .page-letter-wrap {
    width: 100%;
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .page-letter-wrap .tile-rack-nav {
    order: 4;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-letter-wrap .next-rack-nav {
    order: 3;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .page-letter-wrap .letter-rack {
    order: 2;
    flex-basis: 66.75%;
    padding: 0;
    box-shadow: none;
  }
  .tile-area .letter-rack {
    background: none;
  }

  .page-letter-wrap .prev-rack-nav {
    order: 1px;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .tile.animate-next {
    left: -100vw;
  }
  .tile.animate-prev {
    left: 100vw;
  }
  .tile.animate-o {
    left: 0;
  }
  .letter-rack .tile {
    width: calc((100vw - 40px) / 7);
    height: calc((100vw - 40px) / 7);
    max-width: 72px;
    max-height: 72px;
    font-size: calc(((100vw - 40px) / 8) * 0.4);
    margin: 0;
    transition: transform 0.35s ease-in-out, box-shadow 0.3s ease-in-out,
      left 0.275s ease-out;
  }
  .tile .tile-value {
    font-size: calc(((100vw - 40px) / 8) * 0.2);
    right: 4px;
  }
  .tile-nav-btn {
    background-color: #cedadf;
  }

  .tile-nav-btn {
    border-radius: 0%;
    width: auto;
    height: auto;
    background-color: #98aeb7;
    padding: 0.35rem;
  }
  .tile-nav-btn > span {
    font-size: 0.75rem;
  }

  .tile-nav-btn.prev-btn {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 5px;
  }

  .tile-nav-btn.next-btn {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 5px;
  }

  .page-indicator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #bfd4db;
    border-radius: 50%;
    transition: width 0.3s ease-out, height 0.3s ease-out,
      background-color 0.3s ease-out;
  }
  .page-indicator.inactive {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #bfd4db;
  }
  .page-indicator.active {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #f0a519;
    border-radius: 50%;
  }

  .tile-nav-btn svg {
    width: 48px;
    height: 80px;
  }
  .tile-page-indicator {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
  }
  .tile.selected {
    border: none;
    box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
    transform: scale(1.2);
    /* border: 3px solid var(--primary-color); */
    animation: shakyRotate 3s ease-in infinite;
  }
  .board-cell .tile.selected {
    border: none;
    box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 4px 6px 17px 2.5px rgba(0, 0, 0, 0.38);
    transform: scale(1.2);

    animation: shakyRotate 3s ease-in infinite;
  }
  .board-cell.valid-word-cell .tile.selected {
    border: 3px solid var(--valid-word-color);
  }
  .board-cell.invalid .tile.selected {
    border: 3px solid var(--invalid-word-color);
  }
  /* game controller button */
  .game-controls-mobile {
    justify-content: center;
    gap: 1rem;
    margin-top: 1.25rem;
  }
  /* advertise style here */

  .ads-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 51px;
    padding: 0;
    padding-top: 0.5rem;
    margin-top: 1rem;
    background-color: #bacfd2;
    order: 5;
  }
  .ads-content {
    height: 50px;
    width: 70%;
    border-radius: 0.25rem;
    background-color: #fff4e0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ads-content > h3 {
    color: #bcb2b3;
    font-size: 12px;
  }
}
@media (max-width: 645px) {
  .letter-rack .tile {
    max-width: 64px;
    max-height: 64px;
  }
}
@media (max-width: 600px) {
  .game-header .score-display {
    margin-left: 2.9rem;
    min-width: 82px;
  }
  .mobile-device {
    padding: 0;
  }
  .game-container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    gap: 0;
  }
  .tile.placed {
    width: 3.9rem;
    height: 3.9rem;
  }
  .letter-rack {
    order: 2;
  }
  .tile-rack-nav {
    order: 1;
    margin-top: 0;
  }
  /* Error validation message */
  .validation-errors {
    order: 1;
  }
  .validation-errors > div {
    left: -10px;
  }
  /* Board container */
  .board-container {
    width: 100%;
    max-width: 360px;
    padding: 0 1rem;
  }
  .board-container .game-board {
    padding: 0.5rem;
    gap: 0.24rem;
  }
  /* mobile drag or tap  */

  .mobile-interaction-toggle {
    display: none;
  }

  /* Game Controls bottom */

  .game-controls {
    display: none;
  }
  .game-header .logo-score-group {
    flex-basis: 74%;
  }
  .game-controls-mobile {
    width: 100%;
    padding: 0 1.5rem;
    padding-bottom: 0;
    order: 3;
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 1.25rem;
  }
  .game-controls-mobile button {
    width: 3rem;
    height: 3rem;
  }

  .game-controls-mobile .btn-l {
    display: flex;
  }

  .game-controls-mobile .svg-xl {
    display: none;
  }
  .game-controls-mobile .svg-l {
    display: block;
  }

  .game-controls-mobile .control-text {
    display: none;
  }

  button.btn-xl {
    display: none;
  }
  button.btn-l {
    display: flex;
  }

  #submitBtn {
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 2.25rem;
    order: 3;
    gap: 0.5rem;
  }
  #clearBtn {
    border: 1px solid #e89726;
    order: 1;
  }
  #shuffleBtn {
    border: 1px solid #e89726;
    order: 2;
  }

  /* letter rack */
  .tile-area {
    width: 100vw;
  }
  .page-letter-wrap {
    width: 100%;
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    order: 1;
  }

  .page-letter-wrap .tile-rack-nav {
    order: 4;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-letter-wrap .next-rack-nav {
    order: 3;
    flex-basis: 7%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .page-letter-wrap .letter-rack {
    order: 2;
    flex-basis: 74.24%;
    padding: 0;
    box-shadow: none;
    min-height: 122px;
    gap: 10px;
  }

  .page-letter-wrap .prev-rack-nav {
    order: 1;
    flex-basis: 7%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .letter-rack .tile {
    width: calc((100vw - 40px) / 7);
    height: calc((100vw - 40px) / 7);
    margin: 0;
    font-size: calc(((100vw - 40px) / 7) * 0.5);
    max-width: 17%;
  }

  .tile-nav-btn {
    background-color: #cedadf;
  }

  .tile-nav-btn {
    border-radius: 0%;
    width: auto;
    height: auto;
    background-color: #cedadf;
    padding: 0.75rem 0.5rem;
  }
  .tile-nav-btn > span {
    font-size: 0.75rem;
  }

  .tile-nav-btn.prev-btn {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 5px;
  }

  .tile-nav-btn.next-btn {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 5px;
  }
  .tile-nav-btn svg {
    width: 7px;
    height: 12px;
  }

  .tile-page-indicator {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    min-height: 12px;
  }

  .tile > span.tile-value {
    background: none;
    border: none;
    line-height: 18px;
    width: auto;
    height: auto;
    min-width: 6px;
    font-weight: 700;
    bottom: 2px;
    right: 4px;
  }
  .tile > div.power-indicator {
    font-size: calc(((100vw - 40px) / 7) * 0.18);
    width: 1rem;
    height: 1rem;
    font-weight: 700;
    line-height: 12px;
    background-color: white;
    color: #535353;
  }
  /* advertise style here */
  .ads-wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 51px;

    background-color: #bacfd2;
  }
  .ads-content {
    width: 70%;
    height: 50px;
    border-radius: 0.25rem;
    background-color: #fff4e0;
  }
}

@media (max-width: 486px) {
  .board-container {
    max-width: 89vw;
  }
  .ads-content {
    width: 94%;
  }
  .tile.placed {
    width: calc((100vw - 40px) / 6);
    height: calc((100vw - 40px) / 6);
  }
  /* welcome modal */
  #welcomeModal .modal-content {
    width: 75%;
  }
  /* confirmation submit */
  #confirmSubmitModal .modal-content {
    width: 75%;
  }
  /* modals finished game */
  #finishGameModal {
    box-sizing: unset;
  }
  #finishGameModal .modal-content {
    position: absolute;
    max-width: none;
    padding: 3rem 1.5rem;
    border-radius: 32px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #finishGameModal .nickname-input-container {
    width: 100%;
  }
  #finishGameModal .nickname-input-container > input {
    max-width: none;
    min-width: 186px;
  }
  #finishGameModal .nickname-input-container > button {
    max-width: 110px;
    flex-shrink: 0;
  }
  #finishGameModal .nickname-form > p {
    margin-bottom: 0;
  }
  #finishGameModal button {
    padding: 0.5rem 1rem;
    flex-basis: 36%;
  }
  #finishGameModal button.tab-btn {
    max-width: 120px;
  }
  #finishGameModal .leaderboard-tabs {
    width: 100%;
    max-width: 360px;
  }
}

@media (max-width: 434px) {
  .game-header .header-button-group {
    margin-left: 0.45rem;
  }

  .letter-rack .tile {
    min-height: 48px;
    min-width: 48px;
  }
  .tile.placed {
    width: calc((100vw - 40px) / 5.9);
    height: calc((100vw - 40px) / 5.9);
  }
  .game-header .score-display {
    margin-left: 10%;
  }
  #submitBtn {
    padding: 0.75rem 1.5rem;
  }

  .page-letter-wrap .next-rack-nav {
    flex-basis: 5%;
  }

  .page-letter-wrap .letter-rack {
    order: 2;
    flex-basis: 75.54%;
  }

  .page-letter-wrap .prev-rack-nav {
    flex-basis: 5%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  #finishGameModal .nickname-input-container > input {
    max-width: none;
    min-width: 156px;
  }
}

@media (max-width: 370px) {
  .game-header .score-display {
    margin-left: 1rem;
  }
  .game-header .header-button-group {
    gap: 0.25rem;
  }
  .game-header {
    justify-content: start;
    gap: 0;
    justify-content: flex-start;
  }
  .page-letter-wrap .letter-rack {
    gap: 8px;
    flex-basis: 78.24%;
  }
  /* modal */
  #finishGameModal .nickname-input-container > input {
    font-size: 12px;
  }
  #finishGameModal .nickname-input-container > button {
    font-size: 12.5px;
  }
}

/* media query for height */
@media (max-aspect-ratio: 7/10) {
  body {
    background: white;
  }
  .tile-area.tile-area-mobile {
    position: static;
  }
  .game-area {
    height: auto;
    padding-bottom: 0.5rem;
    box-shadow: none;
  }
}
